{% extends 'accounts/base_accounts.html' %}

{% block content %}


<br><br><br><br>
<div class="container" >
  <div class="card " style='width: 30rem;'>
    <div class="card-header text-center">
      <h2>Change Password</h2>
    </div>
    <div class="card-body" style='margin: auto'>
      <form enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        <!-- form is by-default name of the key -->
        {% for field in form %}
        <p>
          {{ field.label_tag }}
          {{ field }}
          {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
          {% endif %}
          {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
        {% endfor %}
        </p>
        {% endfor %}

        <div class="text-center">
          <input type="submit" class='btn btn-primary btn-lg'  value="Save">
        </div>
        <!-- <script>
          console.log("Your Password has been Changed successfully!");   <!-- TODO: Add Java -->
        </script> -->
      </form>
    </div>
  </div>
</div>

{% endblock %}
